footer {
    margin-top: 80px;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 4%;
    background-color: #bb4100;
    color: #f2f2f2;
}

.nav-right {
  vertical-align: center;
  float: right;
  padding-left: 100;
  color: #f2f2f2;
}

/* .Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
} */